# Условия

In [5]:
age = int(input('Введите возраст:'))
if age >= 18:
    height = int(input('Введите рост:'))
    if height < 170:
        print('Этого к нам, в танкисты')
    elif height < 200:
        print ('"Этого в десантники"')   
    else:
        print('Этот нам не подходит')
else:
    print ('Вы слишком молоды!')

print('Конец программы!')

Введите возраст:17
Вы слишком молоды!
Конец программы!

In [3]:
bool("")

False

In [8]:
name = input('Введите имя')
if name:
    print('Привет "%s"' % name)
else:
    print('Привет Мир!')

Введите имя
Привет Мир!

In [16]:
 not False

True

In [1]:
1/4

0.25

In [ ]:
age = int(input('Введите возраст:'))

In [ ]:
1/5

### **Task (Задача)**

In [3]:
month = input('Введите месяц рождения:')

if month =='январь':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Козерог')
    elif data > 31:
        print('Вы не правильно ввели число')
    else:
        print('Вы Водолей')
if month =='февраль':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Водолей') 
    else:
        print('Вы рыбы')
if month =='март':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Рыбы') 
    else:
        print('Вы Овен')
if month =='апрель':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Овен') 
    else:
        print('Вы Телец')
if month =='май':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Телец') 
    else:
        print('Вы Близнецы')
if month =='июнь':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Близнецы') 
    else:
        print('Вы Рак')
if month =='Июль':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Рак') 
    else:
        print('Вы Лев')
if month =='август':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Лев') 
    else:
        print('Вы Дева')       
if month =='сентябрь':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Дева') 
    else:
        print('Вы Весы')        
if month =='октябрь':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Весы') 
    else:
        print('Вы Скорпион')       
if month =='ноябрь':
    data = int(input('Введите число:'))
    if data <= 23:
        print('Вы Скорпион') 
    else:
        print('Вы Стрелец')        
if month =='декабрь':
    data = int(input('Введите число:'))
    if data <= 22:
        print('Вы Стрелец') 
    else:
        print('Вы Козерог')

else:
    print ('')

print('Конец программы!')

Введите месяц рождения:Февраль

Конец программы!

# Списки

### Example (Пример)

In [7]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr']
incom_list = [13000, 10000, 8000, 5000]
incom_by_month = [['Jan', 13000], ['Feb', 10000], ['Mar', 8000], ['Apr', 5000]]

In [4]:
print(type(month_list))
print(type(incom_list))
print(type(incom_by_month))

<class 'list'>
<class 'list'>
<class 'list'>

In [8]:
print (month_list[0])
print (month_list[-1])

print (incom_by_month[0:2])
print (incom_by_month[-8:-6])
print (incom_by_month[2:])
#print (incom_by_month[])

Jan
Apr
[['Jan', 13000], ['Feb', 10000]]
[]
[['Mar', 8000], ['Apr', 5000]]

## Изменеие элементов списка

In [9]:
incom_by_month [0][1] = 5000000
print (incom_by_month)

[['Jan', 5000000], ['Feb', 10000], ['Mar', 8000], ['Apr', 5000]]

## Конкатинация (слияние) списков

In [10]:
incom_by_month = [['Jan', 13000], ['Feb', 10000], ['Mar', 8000], ['Apr', 5000]]
incom_by_month1 = [['May', 13000], ['Jun', 10000], ['Jul', 8000], ['Avg', 5000]]

print(incom_by_month +incom_by_month)

[['Jan', 13000], ['Feb', 10000], ['Mar', 8000], ['Apr', 5000], ['Jan', 13000], ['Feb', 10000], ['Mar', 8000], ['Apr', 5000]]

## Операции со списками

In [11]:
del(incom_by_month[-1])
print(incom_by_month)

[['Jan', 13000], ['Feb', 10000], ['Mar', 8000]]

In [25]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr']
month_list.remove('Feb')

print(month_list)

['Jan', 'Mar', 'Apr']

In [26]:
# Вернем 'Feb'
month_list.append ('Feb')
print(month_list)

['Jan', 'Mar', 'Apr', 'Feb']

In [30]:
#Изменение элемента списка
month_list[1] = ('Feb')
month_list[2] = ('Mar')
month_list[3] = ('Apr')
print (month_list)

['Jan', 'Feb', 'Mar', 'Apr']

In [34]:
# Количество элемента в списке
incom_list1 = [13000, 10000, 15000, 8000, 5000, 8000, 30000, 4000, 8000]
incom_list1.count (8000)

3

In [36]:
# Индекс очередности в списке
incom_list1 = [13000, 10000, 8000, 5000, 8000, 30000, 4000, 8000]
incom_list1.index (8000)

2

In [41]:
# Разворачиваем список
incom_list1 = [13000, 10000, 8000, 5000, 8000, 30000, 4000, 8000]
incom_list1.reverse()
print(incom_list1)

[8000, 4000, 30000, 8000, 5000, 8000, 10000, 13000]

In [46]:
string1 = 'Привет любимая страна'

print(string1[0:10])

Привет люб

# ЦИКЛЫ: while и for

In [49]:
x = 7
while x != 0:
    if x %2 == 0:
        print (x, ' -Четное число')
        x -=1
    else:
        print (x, ' -Нечетное число')
        x -=1

7  -Нечетное число
6  -Четное число
5  -Нечетное число
4  -Четное число
3  -Нечетное число
2  -Четное число
1  -Нечетное число

# Цикл FOR

In [55]:
company = 'Microsoft'

for letter in company:
    letter = letter.capitalize()
    
    print(letter)

M
I
C
R
O
S
O
F
T

In [60]:
companies_capitals = [
    ['Apple', 2.6],
    ['Facebook', 1.8],
    ['Microsoft', 3.2],
    ['Vkontact', 7.8]
]
for company in companies_capitals:
    print (company[0], 'is capitalisation', company[1])

Apple is capitalisation 2.6
Facebook is capitalisation 1.8
Microsoft is capitalisation 3.2
Vkontact is capitalisation 7.8

#### Exampl
Необходимо найти среднюю температуру по стране из предоставленного списка. Перевести F в C

In [31]:
countres_temperature = [
    ['Tailand', [75.6, 70.0, 73.5, 71.4, 66.5]],
    ['England', [65.6, 60.0, 63.5, 61.4, 56.5]],
    ['Russia', [55.6, 50.0, 53.5, 51.4, 46.5]]
]

In [29]:
for country in countres_temperature:
    average_temp = 0
    # average_temp = 0, делаем специально =0 чтобы переходя на другую строку формула начиналась с со значения 0, 
    # а не с значения суммы температур предыдущей строки или строк
     
    for temperature in country [1]:
        average_temp += (temperature -32)*5/9
    
    print (round(average_temp/len(country[1]), 2))
    #(round(......, 2)) количество знаков после запятой

21.89
16.33
10.78

# СЛОВАРИ

#### Exampl

In [40]:
from pprint import pprint #<Данная функция нужна для форматирования

courses_dict = dict()
courses_dict['Python'] = ['Артем Чистяков', 'Елена Никитина', 'Ринат Хабибиев', 'Евгений Шмаргунов', 'Олег Булыгин']
courses_dict['Frontend'] = ['Татьяна Тен', 'Александр Фитискин', 'Алена Батицкая']

In [44]:
pprint(courses_dict['Python'])

['Артем Чистяков',
 'Елена Никитина',
 'Ринат Хабибиев',
 'Евгений Шмаргунов',
 'Олег Булыгин']

In [46]:
# Вызываем элемент словаря по несуществующему ключу. Система ответила, что его не существует
print(courses_dict.get('cpp'))

None

In [47]:
# Получаем все ключи словаря
print(courses_dict.keys())

dict_keys(['Python', 'Frontend'])

In [50]:
# Получаем все значения словаря
print(courses_dict.values())

dict_values([['Артем Чистяков', 'Елена Никитина', 'Ринат Хабибиев', 'Евгений Шмаргунов', 'Олег Булыгин'], ['Татьяна Тен', 'Александр Фитискин', 'Алена Батицкая']])

In [51]:
# Получаем все ключи и значения словаря
print(courses_dict.items())

dict_items([('Python', ['Артем Чистяков', 'Елена Никитина', 'Ринат Хабибиев', 'Евгений Шмаргунов', 'Олег Булыгин']), ('Frontend', ['Татьяна Тен', 'Александр Фитискин', 'Алена Батицкая'])])

In [56]:
# Или вот такое к пример "Цикл" показывающее все ключи и значения словаря
for key, values in  courses_dict.items():
    print('Ключ:{0}, Значение:{1}'.format(key, values))

Ключ:Python, Значение:['Артем Чистяков', 'Елена Никитина', 'Ринат Хабибиев', 'Евгений Шмаргунов', 'Олег Булыгин']
Ключ:Frontend, Значение:['Татьяна Тен', 'Александр Фитискин', 'Алена Батицкая']

In [60]:
# Или вот такое к пример "Цикл" показывающее все ключи и значения словаря
for key, values in  courses_dict.items():
    # Вывод строки изменен
    print('%s %s' % (key, values))

Python ['Артем Чистяков', 'Елена Никитина', 'Ринат Хабибиев', 'Евгений Шмаргунов', 'Олег Булыгин']
Frontend ['Татьяна Тен', 'Александр Фитискин', 'Алена Батицкая']

In [61]:
# Или вот такое к пример "Цикл" показывающее все ключи и значения словаря
for key in  courses_dict:
    # Вывод строки изменен
    print('%s %s' % (key,courses_dict[key]))

Python ['Артем Чистяков', 'Елена Никитина', 'Ринат Хабибиев', 'Евгений Шмаргунов', 'Олег Булыгин']
Frontend ['Татьяна Тен', 'Александр Фитискин', 'Алена Батицкая']

# Множества

In [3]:
python_set = set(['Артем Чистяков', 'Елена Никитина', 'Ринат Хабибиев', 'Евгений Шмаргунов', 'Олег Булыгин'])
test_set = set(['Татьяна Тен', 'Александр Фитискин', 'Алена Батицкая', 'Олег Булыгин'])

In [4]:
print (python_set, test_set)

{'Ринат Хабибиев', 'Олег Булыгин', 'Елена Никитина', 'Артем Чистяков', 'Евгений Шмаргунов'} {'Александр Фитискин', 'Алена Батицкая', 'Олег Булыгин', 'Татьяна Тен'}

### Объединение, пересечение множеств

In [78]:
# Объединение  (В результирующем  сете присутствует Булыгин 1 раз. Хотя и в том и этом сете он присутствовал)
print (python_set | test_set)

{'Артем Чистяков', 'Елена Никитина', 'Евгений Шмаргунов', 'Александр Фитискин', 'Татьяна Тен', 'Олег Булыгин', 'Алена Батицкая', 'Ринат Хабибиев'}

In [13]:
# Пересечение (логическое И. И в одном сете и в другом сете присутствует Булыгин)
print (python_set & test_set)
#Подходит и такой вариант
print (python_set.intersection(test_set))

{'Олег Булыгин'}
{'Олег Булыгин'}

In [5]:
# Возращает элементы одного множества которые не пренадлежат другому. 
diff = python_set.difference (test_set)
print (diff)

{'Елена Никитина', 'Артем Чистяков', 'Евгений Шмаргунов', 'Ринат Хабибиев'}

In [8]:
# Возращает элементы которые встречаются в одном множестве, но не встречаются в обоих. Былыгина нет.
symdiff = python_set.symmetric_difference(test_set)
#print (symdiff)

#Один из новых методов вывода в значений в консоль
print ('Difference: {}'.format(diff))

Difference: {'Елена Никитина', 'Артем Чистяков', 'Евгений Шмаргунов', 'Ринат Хабибиев'}

#### Exampl: Задача, в которой необходимо найти квартиры с заданным бюджетом

In [56]:
import csv

flats_list = list()

with open('output.csv', newline='') as csvfile:
	flats_csv = csv.reader(csvfile, delimiter=';')
	flats_list = list(flats_csv)
# Выше Блок который импортирует файл формата .csv и его открывает. 
    
header = flats_list.pop (0) # .pop(0) - удаляет элемент  списка по индексу. Можно и по варинту ниже
#del (flats_list[0]) результат будет один и тот же, только .pop позволяет удаленный элемент сохранить в переменной Header

budjet = 2500000
count = 0
for flat in flats_list:
    if int(flat[11]) <= budjet:
        count +=1
        print('Нам подходит квартира бюджетом <=3.000.000 руб. с ID {}'.format(flat[0]))
        print ('В итоге нам подошло {} квартир'.format(count))

Нам подходит квартира бюджетом <=3.000.000 руб. с ID 151730037
В итоге нам подошло 1 квартир
Нам подходит квартира бюджетом <=3.000.000 руб. с ID 156725878
В итоге нам подошло 2 квартир
Нам подходит квартира бюджетом <=3.000.000 руб. с ID 151729500
В итоге нам подошло 3 квартир
Нам подходит квартира бюджетом <=3.000.000 руб. с ID 151729730
В итоге нам подошло 4 квартир
Нам подходит квартира бюджетом <=3.000.000 руб. с ID 156725879
В итоге нам подошло 5 квартир
Нам подходит квартира бюджетом <=3.000.000 руб. с ID 156653312
В итоге нам подошло 6 квартир
Нам подходит квартира бюджетом <=3.000.000 руб. с ID 156654029
В итоге нам подошло 7 квартир

#### Task: Необходимо отфильтровать квартиры которые рядом с метром

In [122]:
import csv

flats_list = list()

with open('output.csv', newline='') as csvfile:
	flats_csv = csv.reader(csvfile, delimiter=';')
	flats_list = list(flats_csv)
# Выше Блок который импортирует файл формата .csv и его открывает. 
budjet = 3000000
count = 0
subway_set = set()
subway_list = list()
header = flats_list.pop(0)

for flat in flats_list:
    #if int(flat[11]) <= budjet:
    #count +=1
    subway_set.add(flat[3])
    subway_list.append(flat[3])
    
print(subway_set, '\n')
print (subway_list)
    


    #print (subway_list) #Можно данные представить в виде списка и в виде множества. 
   #Но в множестве станции метро уникальные, в списке повторяются

{'', 'м.Митино', 'м.Черкизовская', 'м.Речнойвокзал', 'м.Беляево', 'м.Пятницкоешоссе', 'м.Алтуфьево', 'м.Люблино', 'м.Домодедовская', 'м.Саларьево', 'м.Щелковская', 'м.Марьино', 'м.Выхино', 'м.Царицыно', 'м.Юго-Западная', 'м.БульварДмитрияДонского', 'м.УлицаГорчакова', 'м.ТеплыйСтан', 'м.Соколинаягора', 'м.Пражская', 'м.Бунинскаяаллея', 'м.Отрадное'}

['м.Черкизовская', 'м.Беляево', '', 'м.Пятницкоешоссе', 'м.ТеплыйСтан', 'м.Пятницкоешоссе', 'м.Пятницкоешоссе', 'м.ТеплыйСтан', 'м.Пятницкоешоссе', 'м.Пятницкоешоссе', 'м.Пятницкоешоссе', '', 'м.Пятницкоешоссе', 'м.Пятницкоешоссе', '', 'м.Соколинаягора', 'м.Пятницкоешоссе', 'м.Речнойвокзал', 'м.ТеплыйСтан', 'м.ТеплыйСтан', 'м.ТеплыйСтан', 'м.ТеплыйСтан', 'м.Бунинскаяаллея', 'м.ТеплыйСтан', 'м.Бунинскаяаллея', 'м.Саларьево', '', 'м.Алтуфьево', 'м.ТеплыйСтан', 'м.ТеплыйСтан', 'м.Черкизовская', 'м.ТеплыйСтан', 'м.Бунинскаяаллея', 'м.ТеплыйСтан', 'м.Саларьево', 'м.Саларьево', 'м.Саларьево', '', 'м.ТеплыйСтан', 'м.Саларьево', 'м.ТеплыйСтан', 'м.Алтуфьево', 'м.Саларьево', 'м.ТеплыйСтан', 'м.ТеплыйСтан', 'м.Саларьево', 'м.ТеплыйСтан', 'м.Беляево', 'м.Саларьево', 'м.Алтуфьево', '', 'м.Щелковская', 'м.Саларьево', 'м.ТеплыйСтан', 'м.Саларьево', 'м.ТеплыйСтан', 'м.Бунинскаяаллея', '', 'м.Саларьево', 'м.Бунинскаяаллея', 'м.Бунинскаяаллея', 'м.Саларьево', 'м.ТеплыйСтан', 'м.ТеплыйСтан', 'м.Пятницкоешоссе', 'м.ТеплыйСтан', 'м.Саларьево', 'м.Митино', 'м.Саларьево', 'м.Саларьево', 'м.Саларьево', 'м.Бунинскаяаллея', 'м.Саларьево', 'м.Саларьево', 'м.Бунинскаяаллея', '', 'м.Юго-Западная', 'м.Саларьево', '', 'м.Юго-Западная', '', 'м.Саларьево', 'м.Саларьево', 'м.Юго-Западная', '', 'м.Саларьево', 'м.УлицаГорчакова', 'м.Бунинскаяаллея', '', 'м.Речнойвокзал', 'м.Саларьево', 'м.Пятницкоешоссе', 'м.Бунинскаяаллея', 'м.Бунинскаяаллея', '', 'м.Бунинскаяаллея', 'м.Юго-Западная', '', 'м.Саларьево', '', 'м.Бунинскаяаллея', 'м.Бунинскаяаллея', 'м.Бунинскаяаллея', 'м.Пятницкоешоссе', 'м.Саларьево', 'м.ТеплыйСтан', 'м.Бунинскаяаллея', 'м.ТеплыйСтан', 'м.Саларьево', '', 'м.Алтуфьево', 'м.Саларьево', 'м.ТеплыйСтан', 'м.Юго-Западная', '', '', 'м.Саларьево', 'м.Бунинскаяаллея', '', 'м.Саларьево', '', 'м.Саларьево', 'м.Алтуфьево', 'м.Алтуфьево', 'м.Пятницкоешоссе', 'м.УлицаГорчакова', 'м.Саларьево', 'м.ТеплыйСтан', '', 'м.Саларьево', '', 'м.Бунинскаяаллея', 'м.Саларьево', 'м.Саларьево', 'м.УлицаГорчакова', 'м.ТеплыйСтан', 'м.Саларьево', 'м.Алтуфьево', 'м.Саларьево', 'м.Бунинскаяаллея', 'м.Саларьево', 'м.Люблино', 'м.Саларьево', 'м.ТеплыйСтан', 'м.Бунинскаяаллея', 'м.Люблино', 'м.ТеплыйСтан', 'м.Саларьево', 'м.Домодедовская', '', 'м.ТеплыйСтан', 'м.Марьино', 'м.Люблино', 'м.Юго-Западная', 'м.Саларьево', 'м.ТеплыйСтан', 'м.ТеплыйСтан', 'м.Бунинскаяаллея', 'м.Саларьево', 'м.Люблино', 'м.Люблино', 'м.Алтуфьево', 'м.Бунинскаяаллея', 'м.Выхино', 'м.Алтуфьево', 'м.Саларьево', 'м.Саларьево', 'м.ТеплыйСтан', 'м.Саларьево', 'м.ТеплыйСтан', 'м.УлицаГорчакова', 'м.Саларьево', 'м.Саларьево', 'м.Пражская', 'м.БульварДмитрияДонского', 'м.Царицыно', '', 'м.Бунинскаяаллея', 'м.ТеплыйСтан', '', 'м.Саларьево', 'м.Саларьево', 'м.Бунинскаяаллея', 'м.Саларьево', 'м.УлицаГорчакова', 'м.Отрадное', 'м.Бунинскаяаллея', 'м.Саларьево', 'м.ТеплыйСтан', 'м.Бунинскаяаллея', 'м.Бунинскаяаллея', '', 'м.Бунинскаяаллея', 'м.ТеплыйСтан', 'м.Алтуфьево', 'м.Саларьево', '', 'м.Бунинскаяаллея', 'м.Саларьево', 'м.БульварДмитрияДонского', 'м.Юго-Западная', 'м.ТеплыйСтан', 'м.Марьино']

#### Task: Меняем название метро с "м.", на без этого сокращения

In [123]:
import csv

flats_list = list()

with open('output.csv', newline='') as csvfile:
	flats_csv = csv.reader(csvfile, delimiter=';')
	flats_list = list(flats_csv)
# Выше Блок который импортирует файл формата .csv и его открывает. 
budjet = 3000000
count = 0
subway_set = set()
subway_list = list()
test_set = (['Люблюно','Выхино', 'Пражская'])
header = flats_list.pop(0)

for flat in flats_list:
    subway = flat[3].replace ('м.', '') #Этот блок позволяет убрать "м." через оператор .replace
    subway_set.add(subway)
    
    
print(subway_set)

{'', 'Щелковская', 'Черкизовская', 'ТеплыйСтан', 'Марьино', 'Отрадное', 'Пятницкоешоссе', 'Саларьево', 'Юго-Западная', 'Бунинскаяаллея', 'Царицыно', 'Домодедовская', 'Соколинаягора', 'Митино', 'Беляево', 'Речнойвокзал', 'Алтуфьево', 'Люблино', 'Выхино', 'БульварДмитрияДонского', 'УлицаГорчакова', 'Пражская'}

#### Task: Делаем пересечение (логическое И) с множеством test_set

In [124]:
import csv

flats_list = list()

with open('output.csv', newline='') as csvfile:
	flats_csv = csv.reader(csvfile, delimiter=';')
	flats_list = list(flats_csv)
# Выше Блок который импортирует файл формата .csv и его открывает. 
budjet = 7000000
count = 0
subway_set = set()
subway_list = list()
header = flats_list.pop(0)
test_set = set(['Выхино', 'Люблино', 'Пражская'])
for flat in flats_list:
    
    subway = flat[3].replace ('м.', '') #Этот блок позволяет убрать "м." через оператор .replace
    subway_set.add(subway)
    
    
print (subway_set & test_set)

{'Люблино', 'Выхино', 'Пражская'}

#### Task: По станции метро подобрать квартиры

In [34]:
from pprint import pprint 

import csv

flats_list = list()

with open('output.csv', newline='') as csvfile:
	flats_csv = csv.reader(csvfile, delimiter=';')
	flats_list = list(flats_csv)
# Выше Блок который импортирует файл формата .csv и его открывает. 
budjet = 7000000
count = 0
subway_set = set()
subway_list = list()
header = flats_list.pop(0)
flats_dict = dict()

for flat in flats_list:
    subway = flat[3].replace ('м.', '')
    subway_set.add(subway)
    
   # if subway not in flats_dict.keys():   # Условие если переменная subway, содержащая станции метро, не входит в значения ключей в flats_dict.keys(), тогда первой переменой должен создаться новый пустой список []
        #flats_dict[subway] = []
    
    flats_dict.setdefault (subway, [])   # Альтернатива условию выше. Функция setdefault говорит если ключа нет, я его создам. Если ключ есть, она ни чего не делает
        
    flats_dict[subway].append(flat[0]) # Функция append добавляет к ключу в переменной subway значение находящееся в
    # циклической переменной  flat[0], где [0] это индитификатор квартир 
    
pprint (flats_dict)

{'': ['155420816',
      '149951011',
      '156682759',
      '149001147',
      '156217722',
      '149966909',
      '156514099',
      '153560876',
      '153560874',
      '151836538',
      '153560875',
      '154810830',
      '108697912',
      '137950744',
      '154810826',
      '154715824',
      '156418325',
      '154575562',
      '154714438',
      '153560917',
      '154810839',
      '153560823',
      '156182071',
      '155953437',
      '154938882',
      '155955298',
      '154454775'],
 'Алтуфьево': ['151811103',
               '153051830',
               '156394461',
               '153051744',
               '151811039',
               '151810960',
               '151811067',
               '151811056',
               '153051927',
               '154306576'],
 'Беляево': ['156070221', '154430246'],
 'БульварДмитрияДонского': ['155460520', '152755250'],
 'Бунинскаяаллея': ['153897053',
                    '154398162',
                    '156110298',
                    '153997539',
                    '156417996',
                    '154467367',
                    '151777863',
                    '156486451',
                    '152153885',
                    '152362213',
                    '154371056',
                    '154360080',
                    '151777662',
                    '156653543',
                    '156075768',
                    '156417998',
                    '152362285',
                    '155955056',
                    '155142462',
                    '151778003',
                    '156074925',
                    '151605375',
                    '156613655',
                    '151778119',
                    '156235717',
                    '155686508',
                    '156411673',
                    '152339776',
                    '156394454'],
 'Выхино': ['156110460'],
 'Домодедовская': ['155988592'],
 'Люблино': ['151728406', '151728896', '151728883', '155476290', '151728774'],
 'Марьино': ['152520744', '155940640'],
 'Митино': ['155567665'],
 'Отрадное': ['153609175'],
 'Пражская': ['154132723'],
 'Пятницкоешоссе': ['151730037',
                    '151729500',
                    '151729730',
                    '156653312',
                    '156654029',
                    '151730016',
                    '156653438',
                    '151730186',
                    '151729862',
                    '156653801',
                    '156653257',
                    '156653896',
                    '151729355'],
 'Речнойвокзал': ['152289940', '152240605'],
 'Саларьево': ['154853002',
               '153051900',
               '156388046',
               '156453399',
               '156386868',
               '155142224',
               '156075764',
               '156394528',
               '156388913',
               '156388965',
               '156388972',
               '156388147',
               '156389087',
               '156630058',
               '156389286',
               '156387026',
               '152936472',
               '156504998',
               '156387110',
               '153836606',
               '156387259',
               '156386712',
               '156389152',
               '156386958',
               '156386866',
               '152955616',
               '156389097',
               '156389036',
               '156386807',
               '156387115',
               '156388118',
               '156389218',
               '156386819',
               '156389004',
               '156387188',
               '156386822',
               '156386876',
               '156388999',
               '156386709',
               '156388465',
               '156074739',
               '156386854',
               '156387284',
               '156387729',
               '156075466',
               '156387774',
               '151424816',
               '156387331',
               '156387131',
               '156177639',
               '155941585',
               '156387393'],
 'Соколинаягора': ['155624593'],
 'ТеплыйСтан': ['156725878',
                '156725879',
                '156725873',
                '154645763',
                '156599642',
                '154644487',
                '155578674',
                '154644471',
                '156725899',
                '154645843',
                '154644642',
                '154645926',
                '154645717',
                '154958564',
                '156201632',
                '154645839',
                '154645595',
                '154645925',
                '156725880',
                '153015833',
                '154644550',
                '154628062',
                '154644262',
                '154849811',
                '156725865',
                '155935413',
                '155578659',
                '154645266',
                '155920458',
                '154645749',
                '156725881',
                '154645213',
                '156000039',
                '154523500',
                '153761982',
                '154644419',
                '155773611'],
 'УлицаГорчакова': ['152104085',
                    '152104421',
                    '152103637',
                    '152104220',
                    '152104467'],
 'Царицыно': ['156000680'],
 'Черкизовская': ['156605497', '156604895'],
 'Щелковская': ['156522473'],
 'Юго-Западная': ['154748053',
                  '155015164',
                  '156653361',
                  '155706939',
                  '153187405',
                  '154477086',
                  '156317780']}

### TODO домашнее задание 1:
#### 1) Напишите цикл, который проходит по всем квартирам, и показывает только новостройки
#### и их порядковые номера в файле. Подсказка - вам нужно изменить этот код:

#### 2) добавьте в код подсчет количества новостроек

In [12]:
import csv

flats_list = list()

with open('output.csv', newline='') as csvfile:
	flats_csv = csv.reader(csvfile, delimiter=';')
	flats_list = list(flats_csv)
    
new_flats = ('новостройка') 
count = 0
header = flats_list.pop(0)
    
for flat in flats_list:
    if flat[2] == new_flats:
        count +=1
    
        print(" Индитификатор квартир в новостройках : {}".format(flat[0]))
        print ('Количество квартир: {}'.format (count))

 Индитификатор квартир в новостройках : 156605497
Количество квартир: 1
 Индитификатор квартир в новостройках : 151730037
Количество квартир: 2
 Индитификатор квартир в новостройках : 156725878
Количество квартир: 3
 Индитификатор квартир в новостройках : 151729500
Количество квартир: 4
 Индитификатор квартир в новостройках : 151729730
Количество квартир: 5
 Индитификатор квартир в новостройках : 156725879
Количество квартир: 6
 Индитификатор квартир в новостройках : 156653312
Количество квартир: 7
 Индитификатор квартир в новостройках : 156654029
Количество квартир: 8
 Индитификатор квартир в новостройках : 151730016
Количество квартир: 9
 Индитификатор квартир в новостройках : 156653438
Количество квартир: 10
 Индитификатор квартир в новостройках : 151730186
Количество квартир: 11
 Индитификатор квартир в новостройках : 151729862
Количество квартир: 12
 Индитификатор квартир в новостройках : 156725873
Количество квартир: 13
 Индитификатор квартир в новостройках : 154645763
Количество квартир: 14
 Индитификатор квартир в новостройках : 154644487
Количество квартир: 15
 Индитификатор квартир в новостройках : 153897053
Количество квартир: 16
 Индитификатор квартир в новостройках : 155578674
Количество квартир: 17
 Индитификатор квартир в новостройках : 154398162
Количество квартир: 18
 Индитификатор квартир в новостройках : 151811103
Количество квартир: 19
 Индитификатор квартир в новостройках : 154644471
Количество квартир: 20
 Индитификатор квартир в новостройках : 156725899
Количество квартир: 21
 Индитификатор квартир в новостройках : 156604895
Количество квартир: 22
 Индитификатор квартир в новостройках : 154645843
Количество квартир: 23
 Индитификатор квартир в новостройках : 156110298
Количество квартир: 24
 Индитификатор квартир в новостройках : 154644642
Количество квартир: 25
 Индитификатор квартир в новостройках : 153051900
Количество квартир: 26
 Индитификатор квартир в новостройках : 156388046
Количество квартир: 27
 Индитификатор квартир в новостройках : 154645926
Количество квартир: 28
 Индитификатор квартир в новостройках : 156386868
Количество квартир: 29
 Индитификатор квартир в новостройках : 154645717
Количество квартир: 30
 Индитификатор квартир в новостройках : 153051830
Количество квартир: 31
 Индитификатор квартир в новостройках : 155142224
Количество квартир: 32
 Индитификатор квартир в новостройках : 154958564
Количество квартир: 33
 Индитификатор квартир в новостройках : 156201632
Количество квартир: 34
 Индитификатор квартир в новостройках : 156075764
Количество квартир: 35
 Индитификатор квартир в новостройках : 154645839
Количество квартир: 36
 Индитификатор квартир в новостройках : 156394528
Количество квартир: 37
 Индитификатор квартир в новостройках : 156394461
Количество квартир: 38
 Индитификатор квартир в новостройках : 156388913
Количество квартир: 39
 Индитификатор квартир в новостройках : 154645595
Количество квартир: 40
 Индитификатор квартир в новостройках : 156388965
Количество квартир: 41
 Индитификатор квартир в новостройках : 154645925
Количество квартир: 42
 Индитификатор квартир в новостройках : 153997539
Количество квартир: 43
 Индитификатор квартир в новостройках : 156388972
Количество квартир: 44
 Индитификатор квартир в новостройках : 156388147
Количество квартир: 45
 Индитификатор квартир в новостройках : 156725880
Количество квартир: 46
 Индитификатор квартир в новостройках : 156653801
Количество квартир: 47
 Индитификатор квартир в новостройках : 154644550
Количество квартир: 48
 Индитификатор квартир в новостройках : 156389087
Количество квартир: 49
 Индитификатор квартир в новостройках : 155567665
Количество квартир: 50
 Индитификатор квартир в новостройках : 156389286
Количество квартир: 51
 Индитификатор квартир в новостройках : 156387026
Количество квартир: 52
 Индитификатор квартир в новостройках : 151777863
Количество квартир: 53
 Индитификатор квартир в новостройках : 152936472
Количество квартир: 54
 Индитификатор квартир в новостройках : 153560876
Количество квартир: 55
 Индитификатор квартир в новостройках : 154748053
Количество квартир: 56
 Индитификатор квартир в новостройках : 156387110
Количество квартир: 57
 Индитификатор квартир в новостройках : 153560874
Количество квартир: 58
 Индитификатор квартир в новостройках : 156387259
Количество квартир: 59
 Индитификатор квартир в новостройках : 156653361
Количество квартир: 60
 Индитификатор квартир в новостройках : 153560875
Количество квартир: 61
 Индитификатор квартир в новостройках : 156386712
Количество квартир: 62
 Индитификатор квартир в новостройках : 152104085
Количество квартир: 63
 Индитификатор квартир в новостройках : 152153885
Количество квартир: 64
 Индитификатор квартир в новостройках : 154810830
Количество квартир: 65
 Индитификатор квартир в новостройках : 156389152
Количество квартир: 66
 Индитификатор квартир в новостройках : 156653257
Количество квартир: 67
 Индитификатор квартир в новостройках : 152362213
Количество квартир: 68
 Индитификатор квартир в новостройках : 156386958
Количество квартир: 69
 Индитификатор квартир в новостройках : 154810826
Количество квартир: 70
 Индитификатор квартир в новостройках : 151777662
Количество квартир: 71
 Индитификатор квартир в новостройках : 156653543
Количество квартир: 72
 Индитификатор квартир в новостройках : 156075768
Количество квартир: 73
 Индитификатор квартир в новостройках : 156653896
Количество квартир: 74
 Индитификатор квартир в новостройках : 156386866
Количество квартир: 75
 Индитификатор квартир в новостройках : 154644262
Количество квартир: 76
 Индитификатор квартир в новостройках : 154715824
Количество квартир: 77
 Индитификатор квартир в новостройках : 153051744
Количество квартир: 78
 Индитификатор квартир в новостройках : 156389097
Количество квартир: 79
 Индитификатор квартир в новостройках : 156389036
Количество квартир: 80
 Индитификатор квартир в новостройках : 152362285
Количество квартир: 81
 Индитификатор квартир в новостройках : 154714438
Количество квартир: 82
 Индитификатор квартир в новостройках : 156386807
Количество квартир: 83
 Индитификатор квартир в новостройках : 153560917
Количество квартир: 84
 Индитификатор квартир в новостройках : 156387115
Количество квартир: 85
 Индитификатор квартир в новостройках : 151811039
Количество квартир: 86
 Индитификатор квартир в новостройках : 151810960
Количество квартир: 87
 Индитификатор квартир в новостройках : 151729355
Количество квартир: 88
 Индитификатор квартир в новостройках : 152104421
Количество квартир: 89
 Индитификатор квартир в новостройках : 156388118
Количество квартир: 90
 Индитификатор квартир в новостройках : 156725865
Количество квартир: 91
 Индитификатор квартир в новостройках : 154810839
Количество квартир: 92
 Индитификатор квартир в новостройках : 156389218
Количество квартир: 93
 Индитификатор квартир в новостройках : 153560823
Количество квартир: 94
 Индитификатор квартир в новостройках : 155955056
Количество квартир: 95
 Индитификатор квартир в новостройках : 156386819
Количество квартир: 96
 Индитификатор квартир в новостройках : 156389004
Количество квартир: 97
 Индитификатор квартир в новостройках : 152103637
Количество квартир: 98
 Индитификатор квартир в новостройках : 156387188
Количество квартир: 99
 Индитификатор квартир в новостройках : 151811067
Количество квартир: 100
 Индитификатор квартир в новостройках : 156386822
Количество квартир: 101
 Индитификатор квартир в новостройках : 155142462
Количество квартир: 102
 Индитификатор квартир в новостройках : 156386876
Количество квартир: 103
 Индитификатор квартир в новостройках : 151728406
Количество квартир: 104
 Индитификатор квартир в новостройках : 156388999
Количество квартир: 105
 Индитификатор квартир в новостройках : 155578659
Количество квартир: 106
 Индитификатор квартир в новостройках : 151778003
Количество квартир: 107
 Индитификатор квартир в новостройках : 151728896
Количество квартир: 108
 Индитификатор квартир в новостройках : 154645266
Количество квартир: 109
 Индитификатор квартир в новостройках : 156386709
Количество квартир: 110
 Индитификатор квартир в новостройках : 152520744
Количество квартир: 111
 Индитификатор квартир в новостройках : 151728883
Количество квартир: 112
 Индитификатор квартир в новостройках : 154477086
Количество квартир: 113
 Индитификатор квартир в новостройках : 156388465
Количество квартир: 114
 Индитификатор квартир в новостройках : 154645749
Количество квартир: 115
 Индитификатор квартир в новостройках : 156725881
Количество квартир: 116
 Индитификатор квартир в новостройках : 156074925
Количество квартир: 117
 Индитификатор квартир в новостройках : 156074739
Количество квартир: 118
 Индитификатор квартир в новостройках : 155476290
Количество квартир: 119
 Индитификатор квартир в новостройках : 151728774
Количество квартир: 120
 Индитификатор квартир в новостройках : 151811056
Количество квартир: 121
 Индитификатор квартир в новостройках : 156110460
Количество квартир: 122
 Индитификатор квартир в новостройках : 153051927
Количество квартир: 123
 Индитификатор квартир в новостройках : 156386854
Количество квартир: 124
 Индитификатор квартир в новостройках : 156387284
Количество квартир: 125
 Индитификатор квартир в новостройках : 154645213
Количество квартир: 126
 Индитификатор квартир в новостройках : 156387729
Количество квартир: 127
 Индитификатор квартир в новостройках : 152104220
Количество квартир: 128
 Индитификатор квартир в новостройках : 156075466
Количество квартир: 129
 Индитификатор квартир в новостройках : 156387774
Количество квартир: 130
 Индитификатор квартир в новостройках : 156613655
Количество квартир: 131
 Индитификатор квартир в новостройках : 156387331
Количество квартир: 132
 Индитификатор квартир в новостройках : 151778119
Количество квартир: 133
 Индитификатор квартир в новостройках : 156387131
Количество квартир: 134
 Индитификатор квартир в новостройках : 152104467
Количество квартир: 135
 Индитификатор квартир в новостройках : 153609175
Количество квартир: 136
 Индитификатор квартир в новостройках : 152339776
Количество квартир: 137
 Индитификатор квартир в новостройках : 154644419
Количество квартир: 138
 Индитификатор квартир в новостройках : 154306576
Количество квартир: 139
 Индитификатор квартир в новостройках : 155941585
Количество квартир: 140
 Индитификатор квартир в новостройках : 156394454
Количество квартир: 141
 Индитификатор квартир в новостройках : 156387393
Количество квартир: 142
 Индитификатор квартир в новостройках : 155773611
Количество квартир: 143

### TODO 2:
#### 1) Сделайте описание квартиры в виде словаря, а не списка. Используйте следующие поля из файла output.csv: ID, Количество комнат;Новостройка/вторичка, Цена (руб). У вас должно получиться примерно так:
flat_info = {"id":flat[0], "rooms":flat[1], "type":flat[2], "price":flat[11]}
#### 2) Измените код, который создавал словарь для поиска квартир по метро так, чтобы значением словаря был не список ID квартир, а список описаний квартир в виде словаря, который вы сделали в п.1 
subway_dict = {}
for flat in flats_list:
  subway = flat[3].replace("м.", "")
  if subway not in subway_dict.keys():
    subway_dict[subway] = list()
  subway_dict[subway].append(flat[0])
print(subway_dict)

In [1]:
from pprint import pprint 

import csv

flats_list = list()

with open('output.csv', newline='') as csvfile:
	flats_csv = csv.reader(csvfile, delimiter=';')
	flats_list = list(flats_csv)
# Выше Блок который импортирует файл формата .csv и его открывает. 

count = 0
subway_set = set()
subway_list = list()
header = flats_list.pop(0)
flats_dict = dict()
flat_info_dict = dict ()


for flat in flats_list:
    #subway = flat[3].replace ('м.', '')
    #subway_set.add(subway)
    flat_info = flat[0]
    #flat_info_dict.add(flat_info)
    
   # if subway not in flats_dict.keys():   # Условие если переменная subway, содержащая станции метро, не входит в значения ключей в flats_dict.keys(), тогда первой переменой должен создаться новый пустой список []
        #flats_dict[subway] = []
    
    #flats_dict.setdefault (subway, [])   # Альтернатива условию выше. Функция setdefault говорит если ключа нет, я его создам. Если ключ есть, она ни чего не делает
    #flat_info_dict.setdefault (flat_info, [])
        
    #flats_dict[subway].append(flat[0]) # Функция append добавляет к ключу в переменной subway значение находящееся в
    # циклической переменной  flat[0], где [0] это индитификатор квартир 
    flat_info_dict[flat_info].append(flat[1])
    flat_info_dict[flat_info].append(flat[2])
    flat_info_dict[flat_info].append(flat[11])
    
pprint (flat_info_dict)

KeyError: '156605497'